# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore VS Code settings and workspace files
.vscode/
*.code-workspace

# Ignore log files
*.log

# Ignore compiled executables (if any)
*.exe
*.out

# Ignore OS-specific files
.DS_Store
Thumbs.db
